@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-neon-purple: #9333ea;
  --color-neon-blue: #3b82f6;
  --color-dark-bg: #09090b;
  --color-dark-surface: #18181b;
  --color-dark-border: #27272a;
}

@layer base {
  body {
    @apply bg-dark-bg text-gray-100 font-sans antialiased;
  }
}